@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.slide-navbar {
  animation: slide 0.5s ease both;
}

@keyframes slide {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
